.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.login-title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px;
}

.loginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.loginPage form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginPage input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  outline: none;
}

.loginPage button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 250px;
}

/* Login Button Style */
.login-button {
  background-color: #6c584c;
  color: #f0ead2;
  font-weight: 600;
}

.login-button:hover {
  background-color: #a98467;
}

/* Error */
.error-message {
  color: red;
  font-size: 0.9rem;
}

/* Signup link */
.signup-text {
  margin-top: 15px;
}

.signup-link {
  color: #6c584c;
  font-weight: bold;
}

/* ROLE SELECTION BOX */
.role-box > div {
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.role-label {
  margin-bottom: 5px;
  font-weight: 500;
}

.role-options {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.role-option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.role-option input {
  width: 16px;
  height: 16px;
}

/* Dropdown styling same as input */
.dropdown-input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  outline: none;
  background: white;
}

